In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#load

In [3]:
lluvia = pd.read_csv('lluvia_sol.csv')

In [4]:
temperatura = pd.read_csv('temperatura.csv')

In [5]:
presion = pd.read_csv('presion.csv')

In [6]:
viento = pd.read_csv('viento.csv')

In [7]:
#clean data

In [8]:
lluvia.head()

        FECHA Precipitación: l/m2  Horas Sol:
0  01-01-1930                 0.0         NaN
1  02-01-1930                 0.0         NaN
2  03-01-1930                 0.0         NaN
3  04-01-1930                 3.2         NaN
4  05-01-1930                54.6         NaN

In [9]:
lluvia.columns = ['date','precipitaciones','horas_sol']
lluvia['date'] = pd.to_datetime(lluvia.date,format='%d-%m-%Y')
lluvia.head()

        date precipitaciones  horas_sol
0 1930-01-01             0.0        NaN
1 1930-01-02             0.0        NaN
2 1930-01-03             0.0        NaN
3 1930-01-04             3.2        NaN
4 1930-01-05            54.6        NaN

In [10]:
lluvia.precipitaciones = lluvia.precipitaciones.str.replace('Ip','0')
lluvia.precipitaciones  = pd.to_numeric(lluvia.precipitaciones, errors='coerce')

In [11]:
lluvia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32838 entries, 0 to 32837
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             32838 non-null  datetime64[ns]
 1   precipitaciones  32837 non-null  float64
 2   horas_sol        15165 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 769.8 KB

In [12]:
temperatura.head()

        FECHA  T. Máxima  T.Mínima
0  01-01-1930        8.6       4.5
1  02-01-1930       10.0       3.3
2  03-01-1930       13.0       3.6
3  04-01-1930       11.1       6.8
4  05-01-1930       10.6       7.1

In [13]:
temperatura.columns = ['date','temp_max','temp_min']
temperatura['date'] = pd.to_datetime(temperatura.date,format='%d-%m-%Y')

In [14]:
temperatura.head()

        date  temp_max  temp_min
0 1930-01-01       8.6       4.5
1 1930-01-02      10.0       3.3
2 1930-01-03      13.0       3.6
3 1930-01-04      11.1       6.8
4 1930-01-05      10.6       7.1

In [15]:
temperatura.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32838 entries, 0 to 32837
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      32838 non-null  datetime64[ns]
 1   temp_max  32833 non-null  float64
 2   temp_min  32823 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 769.8 KB

In [16]:
presion.head()

        FECHA  P. Máxima  P.Mínima
0  01-01-1930        NaN       NaN
1  02-01-1930        NaN       NaN
2  03-01-1930        NaN       NaN
3  04-01-1930        NaN       NaN
4  05-01-1930        NaN       NaN

In [17]:
presion.columns = ['date','pres_max','pres_min']
presion['date'] = pd.to_datetime(presion.date,format='%d-%m-%Y')

In [18]:
presion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32838 entries, 0 to 32837
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      32838 non-null  datetime64[ns]
 1   pres_max  13464 non-null  float64
 2   pres_min  13321 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 769.8 KB

In [19]:
viento.head()

        FECHA  Racha Max (Km/h) Hora Racha  Veloc. Media (Km/h)
0  01-01-1930               0.0        NaN                  0.0
1  02-01-1930               0.0        NaN                  0.0
2  03-01-1930               0.0        NaN                  0.0
3  04-01-1930               0.0        NaN                  0.0
4  05-01-1930               0.0        NaN                  0.0

In [20]:
viento.columns = ['date','racha_max','hora_racha','vel_media']
viento['date'] = pd.to_datetime(viento.date,format='%d-%m-%Y')

In [21]:
viento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32838 entries, 0 to 32837
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        32838 non-null  datetime64[ns]
 1   racha_max   32838 non-null  float64
 2   hora_racha  13384 non-null  object
 3   vel_media   32838 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 1.0+ MB

In [22]:
df = lluvia.merge(temperatura,on='date').merge(presion,on='date').merge(viento,on='date')
#df.set_index('date',inplace=True)

In [23]:
df.head()

,date,precipitaciones,horas_sol,temp_max,temp_min,pres_max,pres_min,racha_max,hora_racha,vel_media
0,1930-01-01,0.0,NaN,8.6,4.5,NaN,NaN,0.0,NaN,0.0
1,1930-01-02,0.0,NaN,10.0,3.3,NaN,NaN,0.0,NaN,0.0
2,1930-01-03,0.0,NaN,13.0,3.6,NaN,NaN,0.0,NaN,0.0
3,1930-01-04,3.2,NaN,11.1,6.8,NaN,NaN,0.0,NaN,0.0
4,1930-01-05,54.6,NaN,10.6,7.1,NaN,NaN,0.0,NaN,0.0

In [24]:
df['year'] = df.date.dt.year
df['month'] = df.date.dt.month
month_data = {1:'jan',2:'feb',3:'mar',4:'apr',5:'may',6:'jun',7:'jul',8:'aug',9:'sep',10:'oct',11:'nov',12:'dec'}
df.month = df.month.map(month_data).astype('category')
months = ['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']
df.month = df.month.cat.set_categories(months,ordered=True)

In [25]:
df.head()

,date,precipitaciones,horas_sol,temp_max,temp_min,pres_max,pres_min,racha_max,hora_racha,vel_media,year,month
0,1930-01-01,0.0,NaN,8.6,4.5,NaN,NaN,0.0,NaN,0.0,1930,jan
1,1930-01-02,0.0,NaN,10.0,3.3,NaN,NaN,0.0,NaN,0.0,1930,jan
2,1930-01-03,0.0,NaN,13.0,3.6,NaN,NaN,0.0,NaN,0.0,1930,jan
3,1930-01-04,3.2,NaN,11.1,6.8,NaN,NaN,0.0,NaN,0.0,1930,jan
4,1930-01-05,54.6,NaN,10.6,7.1,NaN,NaN,0.0,NaN,0.0,1930,jan

In [26]:
df.to_csv('datos_historicos_bcn.csv',index=False)